@import "./variables.scss";

body
{
    margin: 0;
    padding: 0;
    background-color: $background_color;
    color: $font-color;
}
.wrapper
{
    padding-bottom: 30px;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left:0;
    z-index: 2;
    backdrop-filter: blur(3px);
    background-color: rgba($fog, 0.5);
}