$background_color: #303030 ;
$font-color: #c5c5c5 ;
$nav-background-color: #505050;
$diode-color: #22e0d0;
$diode-OK: #2bf146;
$diode-Error:rgb(235, 45, 39) ;
$diode-Waiting: rgb(206, 167, 9) ;
$fog: #514f4f;
$form-color: #d3d3d3;